.container-navbar{
    display: flex;
    height: 100px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 0);
    justify-content: space-between;
    align-items: center;
}
.icon-svg{
    margin-left: 1.25rem;
    width: 200px;
}


